In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [ ]:
df = pd.read_csv('/creditcard.csv')

In [ ]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [ ]:
df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
59506,48869,0.846847,-0.740109,1.734920,0.973051,-0.908455,1.955373,-1.282036,0.785884,1.530679,...,0.108577,0.830381,0.111284,-0.338765,-0.038436,0.663828,0.107897,0.023937,44.00,0.0
59507,48870,-0.293073,0.287754,1.076909,-1.498707,0.030389,-0.094332,0.592840,-0.236917,-1.592913,...,-0.702190,-1.566421,0.092062,-0.345236,-0.562907,0.566838,-0.462258,-0.231659,26.00,0.0
59508,48870,-2.728620,2.789470,-0.019110,-0.345316,-0.983749,-0.665490,-0.452156,1.174699,0.050815,...,-0.080194,-0.098998,0.034646,-0.090487,0.025606,0.152858,-0.341898,-0.263507,1.99,0.0
59509,48870,-0.118399,1.825136,-0.621394,0.294209,1.095673,-2.164019,1.102808,-1.244775,-0.734142,...,0.595335,-0.750841,-0.418729,0.595806,1.411615,-0.561365,0.139271,0.280751,1.00,0.0
59510,48871,-2.101431,0.822359,0.342028,-0.592551,1.344203,4.774187,0.214765,1.215894,1.024100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59511 entries, 0 to 59510
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    59511 non-null  int64
 1   V1      59511 non-null  float64
 2   V2      59511 non-null  float64
 3   V3      59511 non-null  float64
 4   V4      59511 non-null  float64
 5   V5      59511 non-null  float64
 6   V6      59511 non-null  float64
 7   V7      59511 non-null  float64
 8   V8      59511 non-null  float64
 9   V9      59511 non-null  float64
 10  V10     59511 non-null  float64
 11  V11     59511 non-null  float64
 12  V12     59511 non-null  float64
 13  V13     59511 non-null  float64
 14  V14     59511 non-null  float64
 15  V15     59511 non-null  float64
 16  V16     59510 non-null  float64
 17  V17     59510 non-null  float64
 18  V18     59510 non-null  float64
 19  V19     59510 non-null  float64
 20  V20     59510 non-null  float64
 21  V21     59510 non-null  float64
 22  V22     59510 non-null  float64
 23  V23     59510 non-null  float64
 24  V24     59510 non-null  float64
 25  V25     59510 non-null  float64
 26  V26     59510 non-null  float64
 27  V27     59510 non-null  float64
 28  V28     59510 non-null  float64
 29  Amount  59510 non-null  float64
 30  Class   59510 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 14.1 MB

In [ ]:
df.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
df['Class'].value_counts()

0.0    59348
1.0      162
Name: Class, dtype: int64

**This Dataset is highly unbalanced**

0 ---> Normal Transaction
1 ---> Fraudulent Transaction

In [ ]:
legit = df[df.Class == 0] 
fraud = df[df.Class == 1]

In [ ]:
print(legit.shape)
print(fraud.shape)

(59348, 31)
(162, 31)

In [ ]:
legit.Amount.describe()

count    59348.000000
mean        95.423013
std        270.229826
min          0.000000
25%          7.690000
50%         25.985000
75%         87.440000
max      19656.530000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count     162.000000
mean       93.565988
std       224.658775
min         0.000000
25%         1.000000
50%         4.245000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [ ]:
df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,31756.653956,-0.220094,-0.024129,0.716642,0.156674,-0.246262,0.108918,-0.094662,0.045945,0.072867,...,0.047016,-0.030245,-0.10724,-0.039144,0.006999,0.135867,0.019860,0.001431,0.004203,95.423013
1.0,28583.783951,-7.086497,5.090192,-9.571784,5.554124,-5.230160,-2.157161,-7.462325,3.433510,-3.352556,...,0.424429,0.851337,-0.20449,-0.262548,-0.080078,0.238594,0.124826,0.566296,0.036929,93.565988

**Under-Sampling**

Build a sample dataset containing similar distribution of normal transactions and Fraudulent transaction

Number of Fraudulent Transactions --> 492

In [ ]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [ ]:
new_dataset = pd.concat([legit_sample, fraud], axis=0)

In [ ]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
16410,27780,1.154628,0.487023,-0.871510,1.006503,0.706194,-0.212808,0.311915,-0.076384,-0.374861,...,-0.046960,-0.205831,-0.344101,-0.950454,0.815183,-0.281343,0.022068,0.047918,64.56,0.0
22816,32445,1.279970,-0.266108,-0.992069,-0.285321,1.883019,3.657542,-0.715670,0.900671,0.496412,...,-0.142442,-0.316956,-0.123535,1.063070,0.742956,0.453687,-0.014068,0.004009,6.99,0.0
6858,8731,-0.519260,0.866519,2.598748,2.181532,-0.024620,0.985892,0.271538,0.109438,0.718406,...,0.042962,0.612688,-0.185205,0.180122,-0.102501,0.030607,-0.248791,-0.212108,41.84,0.0
28083,34846,0.989280,-0.872357,0.714635,0.014965,-0.837503,0.796566,-0.812352,0.434269,1.182616,...,-0.157664,-0.471900,-0.055444,-0.626479,0.044274,0.992029,-0.048623,0.007356,103.41,0.0
57051,47730,-0.953705,0.998144,1.485310,1.391002,0.111954,-0.174235,0.528605,-0.110822,-0.133504,...,0.081993,0.345155,-0.054945,0.412813,-0.226613,-0.310397,-0.392070,0.253378,5.00,0.0

In [ ]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57248,47826,-0.887287,1.390002,1.219686,1.661425,1.009228,-0.733908,0.855829,0.000077,-1.275631,...,-0.083734,-0.346930,-0.050619,0.231044,-0.450760,-0.376205,0.034504,0.157775,7.58,1.0
57470,47923,0.364377,1.443523,-2.220907,2.036985,-1.237055,-1.728161,-2.058582,0.358895,-1.393306,...,0.402730,-0.132129,-0.032977,0.460861,0.560404,0.409366,0.539668,0.296918,0.76,1.0
57615,47982,-1.232804,2.244119,-1.703826,1.492536,-1.192985,-1.686110,-1.864612,0.856122,-1.973535,...,0.560475,0.165682,-0.013754,0.474935,-0.218725,0.302809,0.466031,0.250134,0.76,1.0
58422,48380,-2.790771,-1.464269,1.031165,1.921356,-0.090014,-0.483871,0.780731,-0.348776,0.609133,...,-0.392667,0.440020,0.777659,0.418552,0.244563,-0.159361,0.060540,0.356958,208.58,1.0
58761,48533,1.243848,0.524526,-0.538884,1.209196,0.479538,-0.197429,0.049166,0.037792,0.128119,...,-0.051660,-0.084089,-0.192846,-0.917392,0.681953,-0.194419,0.045917,0.040136,1.00,1.0

In [ ]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,30657.835366,-0.233003,-0.088211,0.769880,0.066976,-0.183019,0.130753,-0.059054,0.02420,0.089718,...,0.028946,-0.020952,-0.094112,-0.020419,-0.019734,0.137752,0.053243,0.009445,-0.012529,97.002459
1.0,28583.783951,-7.086497,5.090192,-9.571784,5.554124,-5.230160,-2.157161,-7.462325,3.43351,-3.352556,...,0.424429,0.851337,-0.204490,-0.262548,-0.080078,0.238594,0.124826,0.566296,0.036929,93.565988

In [ ]:
new_dataset['Class'].value_counts()

0.0    492
1.0    162
Name: Class, dtype: int64

Spliting the data into features and targets

In [ ]:
x = new_dataset.drop(columns='Class',axis=1)
y = new_dataset['Class']

In [ ]:
print(x)

        Time        V1        V2        V3        V4        V5        V6  \
16410  27780  1.154628  0.487023 -0.871510  1.006503  0.706194 -0.212808
22816  32445  1.279970 -0.266108 -0.992069 -0.285321  1.883019  3.657542
6858    8731 -0.519260  0.866519  2.598748  2.181532 -0.024620  0.985892
28083  34846  0.989280 -0.872357  0.714635  0.014965 -0.837503  0.796566
57051  47730 -0.953705  0.998144  1.485310  1.391002  0.111954 -0.174235
...      ...       ...       ...       ...       ...       ...       ...
57248  47826 -0.887287  1.390002  1.219686  1.661425  1.009228 -0.733908
57470  47923  0.364377  1.443523 -2.220907  2.036985 -1.237055 -1.728161
57615  47982 -1.232804  2.244119 -1.703826  1.492536 -1.192985 -1.686110
58422  48380 -2.790771 -1.464269  1.031165  1.921356 -0.090014 -0.483871
58761  48533  1.243848  0.524526 -0.538884  1.209196  0.479538 -0.197429

             V7        V8        V9  ...       V20       V21       V22  \
16410  0.311915 -0.076384 -0.374861  ...  0.121301 -0.046960 -0.205831
22816 -0.715670  0.900671  0.496412  ... -0.003480 -0.142442 -0.316956
6858   0.271538  0.109438  0.718406  ... -0.135559  0.042962  0.612688
28083 -0.812352  0.434269  1.182616  ...  0.030157 -0.157664 -0.471900
57051  0.528605 -0.110822 -0.133504  ... -0.138135  0.081993  0.345155
...         ...       ...       ...  ...       ...       ...       ...
57248  0.855829  0.000077 -1.275631  ... -0.268347 -0.083734 -0.346930
57470 -2.058582  0.358895 -1.393306  ...  0.310980  0.402730 -0.132129
57615 -1.864612  0.856122 -1.973535  ...  0.207889  0.560475  0.165682
58422  0.780731 -0.348776  0.609133  ... -1.376721 -0.392667  0.440020
58761  0.049166  0.037792  0.128119  ... -0.171541 -0.051660 -0.084089

            V23       V24       V25       V26       V27       V28  Amount
16410 -0.344101 -0.950454  0.815183 -0.281343  0.022068  0.047918   64.56
22816 -0.123535  1.063070  0.742956  0.453687 -0.014068  0.004009    6.99
6858  -0.185205  0.180122 -0.102501  0.030607 -0.248791 -0.212108   41.84
28083 -0.055444 -0.626479  0.044274  0.992029 -0.048623  0.007356  103.41
57051 -0.054945  0.412813 -0.226613 -0.310397 -0.392070  0.253378    5.00
...         ...       ...       ...       ...       ...       ...     ...
57248 -0.050619  0.231044 -0.450760 -0.376205  0.034504  0.157775    7.58
57470 -0.032977  0.460861  0.560404  0.409366  0.539668  0.296918    0.76
57615 -0.013754  0.474935 -0.218725  0.302809  0.466031  0.250134    0.76
58422  0.777659  0.418552  0.244563 -0.159361  0.060540  0.356958  208.58
58761 -0.192846 -0.917392  0.681953 -0.194419  0.045917  0.040136    1.00

[654 rows x 30 columns]

In [ ]:
print(y)

16410    0.0
22816    0.0
6858     0.0
28083    0.0
57051    0.0
        ...
57248    1.0
57470    1.0
57615    1.0
58422    1.0
58761    1.0
Name: Class, Length: 654, dtype: float64

Split data into Training data and testing data

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(x, y, test_size=0.2, stratify=y, random_state=2)

In [ ]:
print(x.shape, X_train.shape, X_test.shape)

(654, 30) (523, 30) (131, 30)

Model Training

Logistic Regression

In [ ]:
model1 = LogisticRegression()

In [ ]:
model1.fit(X_train, Y_train)

LogisticRegression()

Model Evaluation

Accuracy Score

In [ ]:
X_train_prediction = model1.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
print('Accuracy score on Train Data: ', train_data_accuracy)

In [ ]:
X_test_prediction = model1.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [ ]:
print('Accuracy score on Test Data: ', test_data_accuracy)